.contactWrapper {
    background-color: rgb(248, 248, 248);
    margin: 20px;
    border-radius: 10px;
    height: 70vh;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}

.contact-form-container {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

form > input, form > textarea {
    background-color: white;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px 1px gray;
    height: 40px;
    width: 100%;
    padding-left: 10px;
}

form > textarea {
    height: 120px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input:last-child {
    font-weight: 700;
    font-size: large;
    color: rgb(131, 89, 38);
    padding-left: 0px;
    width: 50%;
    cursor: pointer;
    background-color: rgb(250, 220, 183);
}

input:last-child:hover {
    background-color: rgb(255, 200, 134);
}